* {
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #E4EAF2;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 90%;
  margin: 8vh;
  max-width: 1500px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

canvas {
  width: 100%;
  height: 100%;
}

header {}

nav img {
  width: 60px;
}

nav {
  color: #ffffff;
  display: flex;
  flex-direction: flex-start;
  justify-content: start;
  background-color: #1f1f1f;
  padding: 8px;

}

nav h1 {
  margin: auto 0 auto 0;
  text-align: center;
}

nav a {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 12px;
  margin: 2px;
  text-align: center;
  transition: all 0.4s ease
}

nav a.active {
  border-bottom: 4px solid #F05514;
}

.push {
  margin-left: auto;
}

#id {
}

nav a:hover {
  background-color: #ffffff;
  color: #1f1f1f;
  border-radius: 20px 20px 0 0;

}

.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 5px;
}

.footer-section h4 {
  font-size: 16px;
  color: #777;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-contact {
  margin-right: 700px;
}

.footer-contact h4 {
  color: #777;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 4px;
}

.footer-section p {
  margin: 0;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icons .icon-x,
.footer-icons .icon-instagram,
.footer-icons .icon-facebook {
  font-size: 18px;
  color: #777;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: #777;
  width: 100%;
  margin-top: 10px;
}

#myChart {
  background-color: white;
}

